h1 {
    text-align: center;
}

p {
    font-size: 24dp;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1.5rem;
}

body {
    background-color: #988792;
    font-family: Arial, Verdana, sans-serif;
    color: white;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image_container {
    display: flex;
    justify-content: center;
}

.image_container img {
    width: 80%;
    height: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    height: 3px;
    border-width: 0;
    background-color: white;
}

a:link {
    color: #9932CC;
    text-decoration: none;
}

a:visited {
    color: #441b62;
}

a:hover {
    color: white;
}

a:active {
    color: purple;
}
